<div class="wrapper">
  <div class="navigation">
    <span><%=link_to "Home", posts_path, class: "navigationItem" %></span>
    <span><%=link_to "Add post", posts_new_path, class: "navigationItem" %></span>
    <span><%=link_to "About developer", about_me_path, class: "navigationItem" %></span>

  </div>
  <div class="title">
    <h1>MarS Blog</h1>
  </div>
  <div class="postsContainer">
    <% @posts.each do |post| %>
      <div class="post">
        <h1 class="postHeader"><%= post.header %></h1>
        <h3 class="postBody"><%= post.postBody %></h3>
        <h3 class="postAuthor">Posted by: <%= post.author %></h3>
      </div>
    <% end %>
  </div>
</div>